{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-reset">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Changer le mot de passe</h2>
                    {{ form_start(form) }}
                    <form method="POST">
                       
                        {# <div class="input-group"> #}
                            {# <input class="input--style-2" type="text" placeholder="Name" name="name"> #}
                            {{ form_row(form.password,{'label':'Mot de passe','attr': {'placeholder' : 'Votre mot de passe'}})}}

                        {# </div> #}
                        {# <div class="input-group"> #}
                            {# <input class="input--style-2" type="text" placeholder="Name" name="name"> #}
                            {{ form_row(form.confirmPassword,{'label':'Confirmation','attr': {'placeholder' : 'Confirmez votre mot de passe'}})}}

                        {# </div> #}
        
                        <div class="p-t-30  ">
                            <button class="btn btn--radius btn--green" type="submit">Enregistrer</button>
                            {# <button type="submit" class="btn btn-success">S'inscrire</button> #}
                        {{ form_end(form)}}
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
