{% extends 'base.html.twig' %}

{% block title %}Rénitiamiser son mot de passe{% endblock %}

{% block body %}
<div class="body-login mt-5 bg-red p-t-180 p-b-100 font-robo">
    <div class="container h-100">
	{% for message in app.flashes('message') %}
                        <div class="alert alert-success mb-5" id="msg">
                            {{ message }}
                        </div>  
                     {% endfor %}
		<div class="d-flex justify-content-center h-100 mt-5 pt-5">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container ">
						<img src="https://www.sndl.cerist.dz/images/nterrogation.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="post">
                            {{ form_row(form.email,{'label':'Email','attr': {'placeholder' : 'Votre email'}})}}
                            <div class="p-t-30  ">
                                <button class="btn btn--radius btn--green" type="submit">Envoyer</button>
                                {{ form_end(form)}}
                              </div>

                              {{ form_end(form)}}
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
