

{% block body %}

    {% for category in categories %}
        
        <li class="nav-item nav-effect active pl-5 pt-2 nav-category">
        <a href=" {{ path('category_products', {'category' : category.id}) }}" type="button" class="btn btn-light btn-category"><span class="nav-category">{{category.name}}</span></a>

       
        </li>
    {% endfor %}
{% endblock %}
