<h1>Rénitialisation de votre mot de passe</h1>
<p>vous avez fait une demande de rénitialisation de mot de passe, veuillez cliquer sur le lien ci-dessous</p>
<p><a href="{{absolute_url(path('resetPassWord',{'token' : token}) ) }}">Récupérer  votre compte</a></p>
{# Pour mettre l url complete et pas juste apartir du / #}